/*===== MY STYLES =====*/
footer.ftr{
    text-align: center;
}

p#todayIs, p#currentData{
 display: inline;
}

.day{
display: inline-block;
padding-right: 25px; 
}

#month1, #day1, #month2, #day2, #month3, #day3, #month4, #day4, #month5, #day5{
    display: inline;
}
.headerWeather p{
    display: inline;
    margin-left: 45px;
    
}

/*#temperatureDay1{
    background-color: #96858F;
}*/



header h1, h2 {
	font-family: 'grand_hotelregular', cursive;
	font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
}

article h1{
  font-family: 'grand_hotelregular', cursive;

  margin-bottom: 15px;
  font-size: 30px;
  font-style: bold;


}

article h2{
	margin-bottom: 15px;
	font-style: bold;
	margin-top: 15px;
	font-size: 25px;

}
iframe#NantwichVideo{
    margin-bottom: 15px;
    width:100%;
}

header {
	background: #333 url("../images/bkg.png") repeat fixed;
}

header h1 {
	font-size: 45px;
}

header h1 span {
	font-size: 75px;
    color: #a4b4d6;
    font-style: italic;
    text-shadow: 2px 2px black;
}


aside h2 {
	font-size: 25px;
	margin-bottom: 20px;
    text-align: center;
    font-weight: normal;

}

figure.mainFigure img{
    height: 350px;
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

figure.asideFigure img {
	margin-top: 15px;
    height: 140px;
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

figure#animationResto img{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -95px;


}

figure figcaption {
	margin-top: 5px;
    text-align: center;
    color: #665a61;
    font-style: italic; 
    font-size: 14px;
}

video {
    max-width: 100%;
    height: auto;
}


/* ===== NAV ===== */

nav {
    margin-bottom: 10px;
}
nav li {
    margin: 0 5px 10px 0;
    list-style: none;
    display: inline-block;
    display: inline;
    /*ie7*/
}
li a {

    padding: 3px 12px;
    text-decoration: none;
    color: #999;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .2s;
           -transition: all .2s;
}

li a:hover {
    color: #894a6f;
    background: #C0C0C0;
    border-radius: 5px;
}


li a:visited {
    color: #894a6f;
    background: #a4b4d6;
}

li a:active {
    color: #894a6f !important;
    background: #a4b4d6;
}



li.current a {
    background: #a4b4d6;
    color: #fff;
    border-radius: 5px;
}



/* center nav */

nav.centerNav ul {
    text-align: center;
}

    #map {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

/*===== Section transitions =====*/

section {
    position: relative;
    height: 400px;
    background-color: #66F;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 0px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: inset 0px 0px 0px 10px rgba(50, 50, 50, 0.5);
    -box-shadow: inset 0px 0px 0px 10px rgba(50, 50, 50, 0.5);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

section:hover {
    -webkit-box-shadow: inset 0px 0px 0px 200px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: inset 0px 0px 0px 200px rgba(50, 50, 50, 0.2);
    -box-shadow: inset 0px 0px 0px 200px rgba(50, 50, 50, 0.2);

}

section#s1 {
    background: url(../images/Nantwich1.jpg) no-repeat center center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

section#s1:hover {
    background: url(../images/Nantwich1.jpg) no-repeat center right;
}

section#s2 {
    background: url(../images/Nantwich2.jpg) no-repeat center center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

section#s2:hover {
    background: url(../images/Nantwich2.jpg) no-repeat center right;
}

section#s3 {
    background: url(../images/Nantwich3.jpg) no-repeat center center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

section#s3:hover {
    background: url(../images/Nantwich3.jpg) no-repeat center right;
}

section#s4 {
    background: url(../images/Nantwich4.jpg) no-repeat center center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

section#s4:hover {
    background: url(../images/Nantwich4.jpg) no-repeat center right;
}

section h1{
    position: absolute;
    font-size: 26px;
    top: 30px;
    color: #F60;
    width: 100%;
    text-transform: capitalize;
    text-shadow: 0px 1px 0px rgba(150, 150, 150, 1);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

section:hover h1 {
    top: 90px;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
}

section p {
    position: absolute;
    width: 100%;
    padding: 10%;
    bottom: -110px;
    background-color: rgba(51, 51, 51, 0.75);
    font-family: verdana, sans-serif;
    font-size: 14px;
    color: #fff;
    font-style: italic;
    -webkit-transition: all 0.35s ease-out .2s;
    transition: all 0.35s ease-out .2s;

}

section:hover p {
    bottom: 0;
    background-color: rgba(51, 51, 51, .75);
    color: #fff;
}


/* video */

video {
    max-width: 100%;
    height: auto;
    padding-bottom: 15px;
}


/*===== Animation =====*/

div#anim {
    width: 100px;
    height: 100px;
    background-color: none;
    position: relative;
    -webkit-animation-name: example; /*Chrome, Safari, Opera*/
    -webkit-animation-duration: 10s; /*Chrome, Safari, Opera*/
    -webkit-animation-iteration-count: infinite; /*Chrome, Safari, Opera*/
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: top left;

}

/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes myfirst {
    0%   {left: 0px; top: 6px;}
    25%  {left: 562px; top: 0px;}
    50%  {left: 562px; top: 354px;}
    75%  {left: 0px; top: 354px;}
    100% {left: 0px; top: 0px;}

}

@keyframes myfirst {
    0%   {left: 0px; top: 6px;}
    25%  {left: 562px; top: 0px;}
    50%  {left: 562px; top: 354px;}
    75%  {left: 0px; top: 354px;}
    100% {left: 0px; top: 0px;}
}*/

/*Chrome, Safari, Opera*/
@-webkit-keyframes example {
    0% {transform: rotate(0);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes example {
    0% {transform: rotate(0);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

/*Hotel pic animation*/

h3{
    padding-bottom: 15px;
}

img#top{
    height: 250px;
    width: 450px;
    display: block;
    margin: auto;
}

img#bottom{
    height: 250px;
    width: 450px;
    display: block;
    margin: auto;

}

/*Hotel's form*/

input[type=text], select, textarea {
    width: 100%; 
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

label#experience{
    margin-top: 7px;
}
#rating{
    height: 40px;
    padding: 12px 20px;
}

input#radioButtons{
    padding-bottom: 10px;
}

input[type=submit], input[type=reset] {
    text-align: center;
    background-color: #a4b4d6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    margin-left: 10px;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #96858F;
}

div.forms {
    border-radius: 5px;
    background-color: #d8cbd3;
    padding: 20px;
}


/*anim zoom*/

#animZoom {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}
#animZoom img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#animZoom img.transparent {
    opacity:0;
}
#click {
    cursor:pointer;
}





/*===== Nav ======*/



/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #F7F7F7;
    color: #2EBDF2;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: 'Droid Sans Mono', sans-serif;
    text-decoration: none;
    color: #fff;
    background: #2EBDF2;
    text-align: center;
    padding: 10px 0;
    display: none;
    text-transform: uppercase;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    
    section{
        /*visibility: hidden; //just in case if I want to hide it*/
        float: left;    
        width: 25%;     
    
    }

    section h1{
        font-size: 10px;
    }

    section p{
        font-size: 7px;
    }

    #container h1 {
        font-size: 20px;
    }

    #container h2 {
        font-size: 15px;
    }

    #animationResto, #anim{   /*To hide animation and move paragraph to its place*/
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    #animZoom figure img {
        display: block;
    margin: auto;
    width: 65%;
    }

    #NantwichVideo{
        width: 100%;
    }

    ul {
        position: static;
        display: none;

    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

    li a {
    display: block;
    /* min-width: 140px; */
    /* height: 50px; */
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

/*Responsive Styles*/

@media screen and (max-width : 900px){

    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        border-bottom: 1px solid rgba(136, 136, 136, 1);
        background: #333;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
        padding-bottom: 3px;
        padding-top: 1px;
        margin-top: -2px;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display: block;
    }

    li.current a {
    color: #2EBDF2 !important;
    text-decoration: none;
    background: #F7F7F7;
    }

    #container {
      margin: 110px auto 0 auto;
    }

}

























